body{
    background-image: linear-gradient(to right, orange, white, green); 
 
    margin-top: 0;
}
#form{
    border: 5px solid rgb(255, 0, 225);
    margin-left: 650px;
    margin-right: 650px;
    color: rgb(236, 12, 12);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    background-image: linear-gradient(to bottom, orange, white, green);
    
  

}
h2{
    text-align: center;
    color: rgb(27, 231, 51);
    border: 5px solid rgb(255, 0, 225);
    margin-left: 650px;
    margin-right: 650px;
    color: rgb(236, 12, 12);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0.5, 0.5, 0.5, 0.5);
    background-image: linear-gradient(to bottom, orange, white, green);
}

.main{
   margin-left: 50px;
   
  
   
}




}
#foryou{
    size: 60px;
   
}
.box{
width: 500px;
height: 20px;
border-color: rgb(18, 231, 7);
border-radius: 5px;
}
.just{
    width: 500px;
    height: 30px;
    border-color:  rgb(18, 231, 7);
    border-radius: 5px;
}
#submit{
    border: 1px solid red;
    border-radius: 5px;
    width: 500px;
    height: 50px;
    background-image: linear-gradient(to bottom, orange, white, green);
    font-size:30px;
    font-weight: 700;
    font-family: inherit;
    margin-bottom: 20px;
}
.yu{
    width: 500px;
    
    border-color: rgb(18, 231, 7);
    border-radius: 5px;
}
#passbox{
    width: 368px;
    height: 20px;
    border-color: rgb(18, 231, 7);
    border-radius: 5px;
    
}
